In [1]:
import pandas as pd

df = pd.read_csv('emobank.csv')

text1 = df[df['V'] < 1.5]['text'].values[1]
print(text1)

I hate it, despise it, abhor it!

In [2]:
df[df['V'] < 1.5]

,id,split,V,A,D,text
1146,A_defense_of_Michael_Moore_12034_12044,train,1.2,4.2,3.8,"""Fuck you"""
7949,captured_moments_5506_5538,train,1.3,4.4,3.5,"I hate it, despise it, abhor it!"
7976,captured_moments_6594_6611,train,1.4,2.9,3.2,"""Obscenely ugly,"""

In [3]:
text5 = df[df['V'] > 4.5]['text'].values[1]
print(text5)

lol Wonderful Simply Superb!

In [4]:
df[df['V'] > 4.5]

,id,split,V,A,D,text
849,20020731-nyt_25143_25174,train,4.56,4.0,3.78,"""I am thrilled with the price."""
9595,vampires_4446_4474,train,4.60,4.3,3.70,lol Wonderful Simply Superb!

In [5]:
text2 = df[df['V'] == 2].head(1)['text'].values[0]

In [6]:
print(df.query('1.99 < V < 2.01'))

                                   id  split    V     A     D  \
158                 110CYL200_389_480  train  2.0  3.50  2.38
1613         Anti-Terrorist_2032_2130  train  2.0  3.00  2.80
2187   Fermentation_HR5034_9996_10126  train  2.0  3.25  2.62
2533                  IFAW1_1303_1324   test  2.0  3.00  3.00
2947           NYTnewswire2_8918_8994   test  2.0  3.10  2.90
...                               ...    ...  ...   ...   ...
9481                  marine1_490_675  train  2.0  3.20  2.90
9485                  marine1_818_936  train  2.0  3.22  2.89
9635        wildelifewatch1_1328_1440  train  2.0  3.44  2.78
9997               wsj_2465_1041_1137  train  2.0  3.18  2.73
10010                wsj_2465_270_334  train  2.0  3.00  2.67

                                                    text
158    Reality hit when he was unable to reconcile wi...
1613   The fact is, Bush policies have failed complet...
2187   The hypocrisy, misleading notions and disinfor...
2533                               “stupid, non-feeling”
2947   "This is a criminal act and it certainly puts ...
...                                                  ...
9481   Even today, after years of public outrage, dol...
9485   The cause - undetermined, but the suspected cu...
9635   And with more than 3,000 species facing rapidl...
9997   An hour later, the paper's circulation manager...
10010  Over the past 12 years, at least 40 journalist...

[65 rows x 6 columns]

In [7]:
text3 = df[df['V'] == 3]['text'].values[0]
print(text3)

Remember what she said in my last letter? "

In [8]:
df[df['V'] == 3]

,id,split,V,A,D,text
0,110CYL068_1036_1079,train,3.0,3.00,3.20,"Remember what she said in my last letter? """
2,110CYL068_1127_1130,train,3.0,3.00,3.00,".."""
6,110CYL068_1559_1601,train,3.0,3.00,3.10,"I am now... totally off of welfare."""
11,110CYL068_18_24,train,3.0,2.62,3.00,"Dear ,"
22,110CYL068_2589_2593,train,3.0,2.43,3.00,P.S.
...,...,...,...,...,...,...
10041,wwf12_2890_2917,train,3.0,2.83,3.17,“Forests for Life Campaign”
10044,wwf12_3102_3227,train,3.0,2.88,3.00,To end government subsidies that promote overf...
10045,wwf12_31_148,dev,3.0,2.00,3.00,"December 7, 2000 FirstName LastName StreetNumb..."
10057,wwf12_4531_4624,train,3.0,3.50,3.00,Please let it be a constant reminder of all yo...
10059,wwf12_592_691,train,3.0,3.00,3.10,And why I’m writing you today to ask you to re...

In [9]:
text4 = df[df['V'] == 4]['text'].values[6]
print(text4)

Blessings to you.

In [10]:
len(df[df['V'] == 4])

41

In [13]:
from PIL import Image, ImageDraw, ImageFont
textlist = [text1, text2, text3, text4, text5]
fontlist = [ImageFont.truetype('D:/Users/Yuki/Google Drive/Fonts/日本語/KleeOne-Regular.ttf', 28)]
i = 0
for text in textlist:
    i += 1
    j = 0
    for font in fontlist:
        j += 1
        im = Image.new("RGB", (512, 128), (256, 256, 256))

        draw = ImageDraw.Draw(im)
        x = 20
        y = 40
        draw.text((x, y), text, fill=(0, 0, 0), font=font)

        im.save("./image" + str(i) + "-" + str(j) +".png")